@media screen and (max-width:750px) {
   .container {
       overflow: hidden;
       
   }
   nav .container ul {
       display: none;
   }
   header .overly .container i {
      visibility: visible;
   }
   .slider .container h3 {
    font-size: 20px;
    }
    .slider .container h2 {
        font-size: 50px;
    }
    .slider .container h4 {
        font-size: 18px;
    }
    /* about start  */
    .about .container {
        flex-direction: column;
    }
    .border {
        width: 100%;
        height: auto;
        border: none;
        border-radius:0;
        margin-right: 0;
    }
    .about .container .border .card {
        transform: none;
    }
    .about .container .border .card .img img {
        width: 100%;
        height: auto;
    }
    /* about end  */
    /* services start  */
    .services .container .card-group {
        flex-direction: column;
    }
    .services .card-group .background:hover {
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.103) ;
    }
    /* portfolio start  */
    .portfolio .container .img-group {
        flex-direction: column;
    }
    .img-group .img-contain {
        width: 100%;
    }
    .img-group .img-contain .image {
        height: 350px;
    }
    /* portfolio end  */
    /* facts start  */
    .facts .container .card-group {
        flex-direction: column;
    }
    /* facts end */
    /* feedback start  */
    .feedback .container .feedback-card {
        width: 100%;
        height: auto;
        flex-direction: column;
        padding-bottom: 5%;
    }
    .feedback-card .sizing {
        width: auto;
    }
    .feedback-card .sizing .image   {
        transform: translateY(-5%);
        transform: translatex(-10%);
    }
    /* feddback end */
    /* blog start  */
    .blog .container .cards-1 {
        flex-direction: column;
    }
    /* blog end  */
    /* contact start  */
    .contact .container form {
        width: 100%;
    }
    .contact .container form .row {
        flex-direction: column;
    }
    .contact .container form .row input {
        width: 100%;
        margin-top: 10px;
    }
    /* contact end  */
}
@media screen and (max-width:350px){
    .container{
        width: 90%;
    }
}