@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
    --mainclr: #ff305b;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #555;
}
.container {
    width: 64%;
    margin: auto;
    padding: 0;
}

/* header start */

header {
    background-image: url('../images/slider/slider-01.jpg');
    background-size: cover;
    background-position:50% 50% ;
    height: 100vh;
    width: 100%;
    color: white;
    overflow: hidden;
}


.overly {
    background-color: rgba(0, 0, 0, 0.788);
}
nav {
    overflow: hidden;
}
nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .container h1 a  {
    color: var(--mainclr);
    
}
header .overly .container i {
    color: white    ;
    visibility: hidden;
    margin-left: 80%;
    font-size: 20px;
}
nav .container ul {
    display: flex;
    justify-content: space-evenly;
    width: 55%;
    list-style: none;
    font-size: 1em;
    visibility: visible;
}
nav .container ul li a {
    color: white;
    transition: color .3s;
}
nav .container ul li a:hover {
    color: var(--mainclr);
}
.slider {
    height: 100%;
    text-align: center;
    display: flex;
}
.slider .container {
    padding-bottom: 5%;
}
.slider .container h3 {
    font-size: 35px;
    margin: .4em;
}
.slider .container h2 {
    font-size: 70px;
    margin: .2em;
    text-transform: uppercase;
    color: var(--mainclr);
}
.slider .container h4 {
    font-size: 25px;
    margin: 0;
}
/* header end */
/* about start */
.about {
    padding: 100px 0;
    box-sizing: border-box;
    /* background-color: blueviolet; */
}
.about .container {
    display: flex;
    justify-content: space-between;
}
.border {
    width: 280px;
    height: 350px;
    border: 7px solid #555555;
    border-radius: 5px;
    position: relative;
    margin-right: 25px;
}
.card {
    width: 100%;
    overflow: hidden;
    transform: translate(15px,15px);
    border-radius: 5px;
}

.img {
    position: relative;
}

img {
    width: 300px;
    height: 350px;
    border-radius: 5px;
}
.overlay1 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.637);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(150%);
    transition: transform 1s , opacity 1s;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.overlay1 i {
    padding: 5px;
}
.img:hover .overlay1 {
   opacity: 1;
   transform: translateY(0);
   transition: transform 1.5s , opacity 2s;
}

.content {
    width: 65%;
    margin-left: 30px;
}
.about .container .content .top-sec h2 {
    border-left: 5px var(--mainclr) solid ;
    padding-left: 13px;
    font-size: 2em;
    color: #333;
}
.about hr {
   background-color: #555555;
   
}
.about .container .content ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0px;
    line-height: 2;
    font-size: 1em;
}
.about .container .content .bottom-sec ul li {
    width: 50%;
    list-style: none;
}
.about .container .content .bottom-sec ul li span {
    color: #333333;
    font-weight: 600;
}
 .content  .cv-download {
    width: 100%;
}
.content  .cv-download button {
    background-color: var(--mainclr);
    color: white;
    border: none;
    padding:10px 20px;
    border-radius: 3px;
    margin-left: 10px;
}

/* about end */
/* services start */
.services {
    background-color: #f1f1f1;
    padding: 50px 0;
}
.services h2 {
    color: #333333;
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.services hr {
    border-top: 1px solid var(--mainclr);
    margin:4px auto;
}
.services .hr-group  .first {
    width: 60px;
}
.services .hr-group  .second {
    width: 150px;
}
.services .hr-group  .third {
    width: 60px;
}
.services .card-group {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    background-color: transparent;
}
.services .card-group .background {
    box-sizing: border-box;
    overflow: hidden;
    padding:7px 10px 40px 0px;
    line-height: 1.8;
    background-color: transparent;
    transition: box-shadow .5s;
    text-align: center;
}
.services .card-group .background .margin {
    box-sizing: border-box;
    padding-right: 15px;
}
.services .card-group .background:hover {
    background-color: white ;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.397) ;
}
.services .card-group .background .card {
    font-size: 1em;
    width: 100%;
}
.services .card-group .background .card h3 {
    padding-top: 0;
    padding-left: 0;
}
/* services end  */
/* portfolio start  */
.portfolio {
    padding: 50px 0;
}
.portfolio h2 {
    color: #333333;
    font-size: 38px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.portfolio .hr-group {
    margin-bottom: 30px;
}
.portfolio hr {
    border-top: 1px solid var(--mainclr);
    margin:4px auto ;
}
.portfolio .hr-group  .first {
    width: 60px;
}
.portfolio .hr-group  .second {
    width: 150px;
}
.portfolio .hr-group  .third {
    width: 60px;
}
.portfolio .btn-group {
    text-align: center;
    margin-left: 6px;
    margin-bottom: 25px;
}
.portfolio .btn-group button {
    background-color: transparent;
    border:none;    
    cursor: pointer;
    padding: 10px;
}
.img-group {
    display: flex;
    flex-wrap: wrap;
}
.img-group .img-contain {
    width: 33.3333%;
    box-sizing: border-box;
    padding: 12px;
    position: relative;
}
.img-group .img-contain .image {
    position: relative;
    height: 210px;
}
.img-group .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.432) ;
    opacity: 0;
    transition: opacity .3s;
}
.img-group .img-contain .image:hover  .overlay{
    opacity: 1;
    transition: opacity .5s;
}

.img-group .img-contain .image-1 {
    background-image: url('../images/portfolio/1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img-group .img-contain .image-2 {
    background-image: url('../images/portfolio/2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img-group .img-contain .image-3 {
    background-image: url('../images/portfolio/3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img-group .img-contain .image-4 {
    background-image: url('../images/portfolio/4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img-group .img-contain .image-5 {
    background-image: url('../images/portfolio/5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img-group .img-contain .image-6 {
    background-image: url('../images/portfolio/6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* portfolio end  */
/* facts start  */
.facts {
    width: 100%;
    overflow: hidden;
    padding: 50px 0;
    background-color: #f1f1f1;
}
.facts .card-group {
    display: flex;
    text-align: center;
}
.facts h3 {
    color: #333333;
}
/* facts end  */
/* feedback start  */
.feedback {
    padding: 60px 0;
    overflow: hidden;
}
.feedback h2 {
    color: #333333;
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.feedback .hr-group {
    margin-bottom: 30px;
}
.feedback hr {
    border-top: 1px solid var(--mainclr);
    margin:4px auto ;
}
.feedback .hr-group  .first {
    width: 60px;
}
.feedback .hr-group  .second {
    width: 150px;
}
.feedback .hr-group  .third {
    width: 60px;
}
.feedback .feedback-card {
    background-color: #f1f1f1;
    display: flex;
    width: 850px;
    margin: 0 auto;
    height: 250px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}
.feedback-card .sizing {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center ;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.feedback-card .sizing .image {
    background-image: url('../images/testimonial/2.jpg');
    background-size: cover;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    transform: translateY(-20px);
    position: relative;
    z-index: 3;
}
.new-shape {
    background-color: var(--mainclr);
    position: absolute;
    width: 300px;
    height: 355px;
    z-index: 2;
    margin-left: -50%;
    transform: rotate(47deg)translate(-180px,-42px);
}

/* feedback end  */
/* blog start  */
.blog {
    background-color: #f1f1f1;
    padding: 60px 0;
}
.blog h2 {
    color: #333333;
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;   
}
.blog .hr-group {
    margin-bottom: 30px;
}
.blog hr {
    border-top: 1px solid var(--mainclr);
    margin:4px auto ;
}
.blog .hr-group  .first {
    width: 60px;
}
.blog .hr-group  .second {
    width: 150px;
}
.blog .hr-group  .third {
    width: 60px;
}
.blog .cards-1 {
    display: flex;
    justify-content: space-between;
}
.blog .cards-1 .blog-box {
    box-sizing: border-box;
    padding: 10px;
}
.blog .cards-1 .card-1 {
    width: 100%;
    padding-bottom: 10px;
    background-color: white;

    height: 100%;
}
.blog .cards-1 img {
    width: 100%;
    border-radius: 0;
    height: auto;
}
iframe {
    width: 100%;
}
.blog .cards-1 .card-1 .text-1{
    padding: 10px;
}
.blog .cards-1 .card-1 .vid iframe {
    width: 100%;
}

/* blog end  */
/* contact start  */
.contact {
    padding: 60px 0;
    text-align: center;
}
.contact h2 {
    color: #333333;
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;   
}
.contact .hr-group {
    margin-bottom: 30px;
}
.contact hr {
    border-top: 1px solid var(--mainclr);
    margin:4px auto ;
}
.contact .hr-group  .first {
    width: 60px;
}
.contact .hr-group  .second {
    width: 150px;
}
.contact .hr-group  .third {
    width: 60px;
}
.contact .row {
    display: flex;
    width: 100%;
}
.contact .container form {
    width: 60%;
    margin: 60px auto;
}
.contact .row .box {
    width:100%;
    box-sizing: border-box;
    padding:0px 10px ;
}
.contact .row .box input {
    padding:10px 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #999;
}
.contact .container form > input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px 10px;
    margin: 15px auto;
    border-radius: 5px;
    border: 1px solid #999;
}
.contact .container form textarea {
    width: calc(100% - 20px);
    border-radius: 5px;
    border: 1px solid #999;
}
.contact .container form input[type="submit"] {
    background-color: var(--mainclr);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 3px;
    float: left;
    margin: 15px 10px;
    font-size: 1em;
}
.contact input {
    font-size: 1em;
}
/* contact end  */
/* footer start  */
.footer {
    background-color: #333;
    padding: 50px 0;
    text-align: center;
    width: 100%;
}
.footer .icons {
    text-align: center;
}
.footer i {
    color: white;
    padding: 5px;
}
.footer p {
color: white;
}
.footer span {
    color: var(--mainclr);
}
/* footer end  */

i {
    color: white;
    border: 1px solid var(--mainclr);
}
a {
    text-decoration: none;
}
h2 {
    text-transform: capitalize;
    color: #333333;
}
